@import "tailwindcss";
@plugin "daisyui";

body {
  @apply bg-[#0A1F2B] text-gray-900;
}

@theme {
  --color-pm: #040025;
  --breakpoint-sm: 23.4375rem; /* iPhone 11 Pro (~375px) */
  --breakpoint-lg: 25.75rem; /* Galaxy Note 20 Ultra (~412px) */
  --breakpoint-ts: 50.625rem; /* iPad 10.2" (~810px) */
  --breakpoint-tl: 64rem; /* iPad Pro 12.9" (~1024px) */
  --breakpoint-lp: 80rem; /* Laptop MDPI (~1280px) */
  --breakpoint-hd: 120rem; /* Full HD TV (~1920px) */
}
